html,body{ width: 100%; height: 100%; overflow: hidden}
html,body,p,ul,h1,h2,h3,h4{ margin: 0px; padding: 0px; list-style: none;}
.page{ height: 100%; zoom: 1; overflow: hidden; }
#logo{ position: absolute; left: 50%; top: 50%; margin-left: -121px; margin-top: -27px;}
.long_btn{ width: 490px; height: 60px; line-height: 60px; text-align: center; background: #116ab7; font-size: 26px; color: #fff; margin: auto; }
.empty{ width: 100%; height: auto; overflow: hidden;}
.alert{ width:490px; height: 344px; position: absolute; left: 50%; top: 50%; margin-left: -245px; margin-top: -172px; background: url("../img/tc_bg.png") ; background-size: 100% 100%; z-index: 51;}
.alert2{ width:490px; height: 306px; position: absolute; left: 50%; top: 50%; margin-left: -245px; margin-top: -153px; background: url("../img/tc_bg3.png") ; background-size: 100% 100%; z-index: 51;}
.alert3{ width:490px; height: 524px; position: absolute; left: 50%; top: 50%; margin-left: -245px; margin-top: -262px; background: url("../img/tc_bg4.png") ; background-size: 100% 100%; z-index: 51;}
#filer{ width: 100%; height: 100%; position: absolute; z-index: 50; background: rgba(0,0,0,0.9);  }
.aotu{ width: 100%; height: 100%; overflow: auto;  -webkit-overflow-scrolling : touch;}

/*����*/
.span2{  }
#Unbound .a_txt{ box-sizing: border-box; padding: 0px 60px; padding-top: 67px; font-size: 26px; line-height: 36px; color: #fff; text-align: center; padding-bottom: 40px;   }
#juli{ background: url("../img/tc_bg2.png"); background-size: 100% 100%;}
#juli .a_txt{ box-sizing: border-box; padding: 0px 10px; padding-top: 67px; font-size: 23px; line-height: 36px; color: #fff; text-align: center; padding-bottom: 40px;   }
.s_btn{ width: 200px; height: 60px; line-height: 60px; text-align: center; background: #116ab7; font-size: 26px; color: #fff; margin: auto; }
.m_btn{ width: 348px; height: 60px; line-height: 60px; text-align: center; background: #116ab7; font-size: 26px; color: #fff; margin: auto; }
#Unbound .s_btn1{ position: absolute; left: 37px; bottom: 64px;}
#Unbound .s_btn2{ position: absolute; left: 250px; bottom: 64px;}
#Unbound_acc .a_txt{ box-sizing: border-box; padding: 0px 60px; padding-top: 80px; font-size: 29px; line-height: 36px; color: #fff; text-align: center; padding-bottom: 40px;   }
#zbound_acc .a_txt{ box-sizing: border-box; padding: 0px 60px; padding-top: 80px; font-size: 29px; line-height: 36px; color: #fff; text-align: center; padding-bottom: 40px;   }
#xiexie .a_txt{ box-sizing: border-box; padding: 0px 40px; padding-top: 50px; font-size: 29px; line-height: 36px; color: #fff; padding-bottom: 40px;   }
#xiexie p{ padding-bottom: 15px;}
#jihuozhanghu .a_txt{ box-sizing: border-box; padding: 0px 60px; padding-top: 80px; font-size: 29px; line-height: 36px; color: #fff; text-align: center; padding-bottom: 40px;   }
#xudingshibai .a_txt{ box-sizing: border-box; padding: 0px 20px; padding-top: 50px; font-size: 29px; line-height: 36px; color: #fff; text-align: center; padding-bottom: 30px;   }
#Unflash_acc .a_txt{ box-sizing: border-box; padding: 0px 60px; padding-top: 80px; font-size: 29px; line-height: 36px; color: #fff; text-align: center; padding-bottom: 40px;   }
#Unueer .a_txt{ box-sizing: border-box; padding: 0px 60px; padding-top: 70px; font-size: 29px; line-height: 36px; color: #fff; text-align: center; padding-bottom: 60px;   }
#Unueer .s_btn1{ position: absolute; left: 37px; bottom: 64px;}
#Unueer .s_btn2{ position: absolute; left: 250px; bottom: 64px;}
#Validationfailed .a_txt{ box-sizing: border-box; padding: 0px 15px; padding-top: 75px; font-size: 23px; line-height: 36px; color: #fff; text-align: center; padding-bottom: 30px;  }
#Validationfailed .s_btn1{ position: absolute; left: 37px; bottom: 64px;}
#Validationfailed .s_btn2{ position: absolute; left: 250px; bottom: 64px;}
#Validationfailed .span1{ font-size: 26px;}
#Validationfailed .span2{ text-decoration: underline;}
#rexian .a_txt{ box-sizing: border-box; padding: 0px 25px; padding-top: 45px; font-size: 29px; line-height: 36px; color: #fff; text-align: center; padding-bottom: 30px;  }
#rexian .s_btn1{ position: absolute; left: 37px; bottom: 50px;}
#rexian .s_btn2{ position: absolute; left: 250px; bottom:50px;}
#rexian .span1{ font-size: 26px;}
#rexian .span2{ text-decoration: underline;}
#sn_err .a_txt{ box-sizing: border-box; padding: 0px 25px; padding-top: 50px; font-size: 29px; line-height: 36px; color: #fff; text-align: center; padding-bottom: 30px;  }
#sn_err .span2{ text-decoration: underline;}
#user_err .a_txt{ box-sizing: border-box; padding: 0px 25px; padding-top: 45px; font-size: 29px; line-height: 37px; color: #fff; text-align: center; padding-bottom: 30px;  }
#user_err .span2{ text-decoration: underline;}
#nouser .a_txt{ box-sizing: border-box; padding: 0px 25px; padding-top: 65px; font-size: 29px; line-height: 36px; color: #fff; text-align: center; padding-bottom: 40px;  }
#nouser .span2{ text-decoration: underline;}
#fuwuxuding .a_txt{ box-sizing: border-box; padding: 0px 25px; padding-top: 25px; font-size: 18px; line-height: 32px; color: #fff; text-align: center; padding-bottom: 20px;  }
#fuwuxuding .span2{ display: inline-block; border-bottom: 1px solid #fff;}
#linetop{ position: absolute; top: -1px; z-index: 30}
#lineto2{ position: absolute; top: 0px; z-index: 30}
#linebot{ position: absolute; bottom: 0px; z-index: 30}

/*index  */
#fri_top{ width: 100%; height: 16%; position: relative; background: url("../img2/fri_top.jpg"); background-size: 100% 100%; z-index: 2}
#fri_bottom{ width: 100%; height: 27%; position: relative; background: url("../img2/fri_bottom.jpg"); background-size: 100% 100%; }
#fri_mod{ width: 100%; height:57%; position: relative; background: url("../img2/fri_m.jpg"); background-size: 100% 100%;   }
#long_btn1{ margin-top:60px;}
#icp{ position: absolute; left: 75px; bottom: 60px; color: #fff; font-size: 15px;}
#fri_my{ position: absolute; left: 50%; margin-left:-73px;top: 53px; }
#fri_mod ul{ list-style: none; margin: 0px; padding: 0px; position: absolute; left: 75px; top: 190px; color: #fff; font-size: 26px;}
#fri_mod ul li:nth-child(1){ text-align: center; font-size: 20px;}
#fri_mod input{ width: 495px; height:68px; background: url("../img2/input_bg.png") ; border: 0px; box-sizing: border-box; padding: 5px; outline: none; line-height: 50px; color: #fff; font-size: 26px; text-align: center }
#fri_mod .pt_10{ padding-top: 10px; font-size: 25px;}
#tellme{ font-size: 18px;}
#tellme span{  display: inline-block; line-height: 25px; border-bottom: 1px solid #fff;}







/*��Ʊ*/
#fapiao_mod{ width: 100%; height:57%; position: relative; background: url("../img/fri_m.jpg"); background-size: 100% 100%;  }
#fapiao_mod ul{ list-style: none; margin: 0px; padding: 0px; position: absolute; left: 75px; top: 20%; color: #fff; font-size: 26px;}
#fapiao_mod input{ width: 495px; height:68px; background: url("../img/input_bg.png") ; border: 0px; box-sizing: border-box; padding: 5px; outline: none; line-height: 50px; color: #fff; font-size: 26px; text-align: center }
#fapiao_mod #tellme{ font-size: 18px; padding-bottom: 35px;}
#fapiao_mod .pt_10{ padding-top: 10px; font-size: 30px;padding-bottom: 15px;}
#fapiao_mod .pt_10s{ padding-top: 70px; font-size: 22px;}

/*�� ������ʽ*/
#keybot{ height: 84%; background: url("../img/jp_bg.jpg"); background-size: 100% 100%; position: absolute; top: 16%; width: 100%;}
#keybox{ width: 100%; background: url("../img/jp_bg2.jpg"); background-size: 100% 100%; position: absolute; bottom: 0px; height: 62% }
#censel{ width: 100%;  height:64px; background: url("../img/keybg.png") repeat-x;}
#censel span{ display: block; float: right; color: #fff; font-size: 26px; line-height: 44px;   margin-right: 70px; padding:10px;}
#keybox ul{ width: 100%; }
.numbtn{background: url("../img/keybg.png") repeat-x; float: left; color: #fff; text-align: center; font-size: 39px; position: relative }
.numbtn213{ width: 213px; }
.numbtn208{ width: 208px;}
.r3{ margin-right: 3px;}
.bot3{margin-bottom:3px; }
.h92{ height: 92px; line-height: 90px;}
.h91{ height: 91px; line-height: 90px;}
.h90{ height: 90px; line-height: 90px;}
.over{ width: 118px; height: 48px; position: absolute; left: 49px; top: 22px; background:rgba(255,255,255,0.2); border-radius: 5px; text-align: center; font-size: 26px; line-height: 48px; }
#backspace{ position: absolute; left: 74px; top: 28px;}
#keyboxtxt h1{ padding: 0px; margin: 0px; color: #fff; font-size: 30px; text-align: center ; padding-top: 30px; font-style: normal}
#keyboxtxt p{ padding: 10px 50px; display: inline-block; box-sizing: border-box; height: 115px; color: #fff; font-size: 20px; line-height: 26px; width: 100%;}
#keytc{ width: 450px; box-sizing: border-box; height: 70px;line-height: 70px; color: #000; font-size: 45px; margin: auto; background: #fff; border-radius: 5px; text-align: center; overflow: hidden}
#icptxt{ position: absolute; box-sizing: border-box; width: 100%; height: 94px; padding-left: 75px; padding-top: 10px; border-top: 3px solid #505050; box-shadow:  8px 8px 5px #000; bottom: 0px; color: #fff; font-size: 16px;}
.help{ width: 118px; height: 48px; position: absolute; left: 49px; top:9px; background:rgba(255,255,255,0.2); border-radius: 5px; text-align: center; font-size: 26px; line-height: 48px; color: #fff }
#fc_bg{ width: 490px; height: 606px; background: url("../img/f_c_bg.png"); background-size: 100% 100%; position: absolute; left: 50%; top: 50%; margin-left: -245px; margin-top: -303px; z-index: 52;}
#findtxt1{ width: 100%; position: absolute; top: 215px; font-size: 29px; color: #fff; text-align: center}
#findtxt2{ width: 100%; position: absolute; top:430px; font-size: 29px; color: #fff; text-align: center}
#findtxt3{ width: 100%; position: absolute; top:475px; font-size: 24px; color: #848484; text-align: center}
.load_bg{ width: 44px; height: 44px; background: url("../img/load_bg.png");animation: loadbg 2s linear infinite; -webkit-animation: loadbg 2s linear infinite;}
#jiesuoload{ position: absolute; z-index: 53; width: 100%; height: 100%; top: 0px; background: none; margin: 0px; left: 0px;}
#jiesuoload img{ position: absolute; left: 50%; margin-left: -109px; top: 50%; margin-top: -154px;}
#jiesuoload #load_bg2{ top: 50%; margin-top: 80px; left: 50%; margin-left: -22px; position: absolute}
#suozhiload{ position: absolute; z-index: 53; width: 100%; height: 100%; top: 0px; background: none; margin: 0px; left: 0px;}
#suozhiload img{ position: absolute; left: 50%; margin-left: -109px; top: 50%; margin-top: -154px;}
#suozhiload #load_bg3{ top: 50%; margin-top: 80px; left: 50%; margin-left: -22px; position: absolute}
#vdload{ position: absolute; z-index: 53; width: 100%; height: 100%; top: 0px; background: none; margin: 0px; left: 0px;}
#vdload img{ position: absolute; left: 50%; margin-left: -136px; top: 50%; margin-top: -142px;}
#vdload #load_bg4{ top: 50%; margin-top: 80px; left: 50%; margin-left: -22px; position: absolute}
#load_bg1{ position: absolute; left: 50%; margin-left: -22px; top:310px }
.textshadow{ text-shadow: 3px 3px 3px rgba(0,0,0,0.5)}
.textlight{ text-shadow: 0px 0px 10px rgba(255,255,255,0.85)}
.slogin{ width: 100%; position: absolute; z-index: 60; top: 20%; color: #fff; text-align: center; font-size: 26px;}
@keyframes loadbg {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
@-webkit-keyframes loadbg {
    0%{-webkit-transform: rotate(0deg);}
    100%{-webkit-transform: rotate(360deg);}
}

/*Կ��*/
#key_{  height: 84%; background: url("../img/jp_bg3.jpg"); background-size: 100% 100%; position: absolute; overflow: hidden; top: 16%; width: 100%;}
#key_bg{ width: 347px; height: 674px; position: absolute; left: 50%; margin-left: -175px; top: 50%; margin-top:-365px; background: url("../img/key.png"); transform: scale(0.8) }
#keytxt{ position:absolute; left:75px; bottom: 3rem; color: #fff; font-size:1.1rem;}
#keytxt span{ font-size:1.5rem;}
#top{ width: 97px; height: 83px; position: absolute; left: 128px; top: 23px; }
#topn{ width: 97px; height: 83px;  background: url("../img/top_bg1.png") ;  }
#toplb{ position: absolute; left: 32px; top: 33px;}
#sdmd{ position: absolute; left: 142px; top: 116px;}
#mid{ width: 173px; height: 109px; position: absolute; left: 88px; top: 169px; }
#midn{width: 173px; height: 109px;  background: url("../img/mid_bg1.png") ;  }
#mid_suo{ position: absolute; left: 52px; top: 11px;}
#left{ width: 107px; height: 128px; position: absolute; left: 63px; top: 429px; }
#leftn{width: 107px; height: 128px;  background: url("../img/left_bg1.png") ;  }
#left_suo{ position: absolute; left: 19px; top: 13px;}

#right{ width: 107px; height: 128px; position: absolute; left: 183px; top: 429px; }
#rightn{width: 107px; height: 128px;  background: url("../img/right_bg1.png") ;  }
#right_dr{ position: absolute; left: 19px; top: 13px;}


/*�ҵ��˻�*/
#mybox{   height: 84%; width: 100%; position: absolute; overflow: hidden; background: #000; top: 16%;}
#mybox #txtlist{ width: 100%; background:#000 url("../img/mybg.jpg") center top no-repeat; height: auto; overflow: auto; min-height: 100%;  -webkit-overflow-scrolling : touch;}
#mybox #txtlist>div{ width: 100%; height: auto; overflow: auto;background: url("../img/mybg2.jpg") center bottom  no-repeat; -webkit-overflow-scrolling : touch; }
#mybox #txtlist h3{ text-align: center; color: #fff; font-style: normal; font-size: 30px; margin-top: 50px; height: 65px; background: url("../img/my_h3bg.png") center bottom no-repeat; line-height: 65px;}
.my_list{ width: 520px; height: auto; overflow: auto;  -webkit-overflow-scrolling : touch; zoom: 1; background: url("../img/my_listbg.png") repeat-x; border: 2px solid rgba(255,255,255,0.45);border-top: none; margin: auto; color: #fff; font-size: 22px; line-height: 28px; margin-bottom: 20px; box-sizing: border-box; padding: 15px 0px; padding-left: 100px;}
#food{ width: 100%; position: relative; margin-top: 20px; height: 282px;}
#food_{ width: 100%; position: relative; margin-top: 20px; height: 90px;}
#food .s_btn{ position: absolute; left: 50%; top: 70px; width: 237px;}
#food .s_btn1{margin-left: -245px;}
#food .s_btn2{margin-left:8px;}
#icpoutuser{ position: absolute;  font-size: 20px; border-bottom: 1px solid #fff; right: 75px; bottom: 50px; color: #fff; }



/*����*/
#fuwu{ position: absolute; left: 50%; margin-left:-73px;top: 53px; }
#service .s_btn{  bottom: 90px; width: 237px; position: absolute; left: 50% }
#service .s_btn1{margin-left: -245px;}
#service .s_btn2{margin-left:8px;}

/*֧����Ϣ*/
#infobox{   height: 84%; width: 100%; position: absolute; overflow:hidden; background: #000; -webkit-overflow-scrolling : touch; top: 16%; z-index: 1}
#infobox #txtlist{ width: 100%; background:#000 url("../img/pay_info_bg.jpg") center top no-repeat; height: auto; overflow: auto; min-height: 100%;  -webkit-overflow-scrolling : touch;}
#infobox #txtlist>div{ width: 100%; height: auto; overflow: auto;  -webkit-overflow-scrolling : touch; }
#infobox #txtlist h3{ text-align: center; color: #fff;  font-weight: normal; font-size: 30px; margin-top: 50px; height: 65px; line-height: 65px;}
#Orderbtn{ position: relative; margin: auto; width:490px; height:64px; line-height: 64px; text-indent: 25px; font-size: 30px; color: #fff;  }
#Orderbtn .btn{ width: 33px; height: 33px; position: absolute; right: 25px; top: 16px; }
.Orderbtn1{ background: url("../img/Pay_info_2.jpg"); background-size: 100% 100%;}
.Orderbtn2{ background: url("../img/Pay_info_1.jpg"); background-size: 100% 100%;}
.info_list{ width: 490px; height: auto; overflow: auto;  -webkit-overflow-scrolling : touch; zoom: 1; border-top: none; margin: auto; color: #fff; font-size: 22px; line-height: 28px; margin-bottom: 20px; box-sizing: border-box; padding: 15px 0px; padding-left: 80px; box-shadow: 3px 3px 3px rgba(0,0,0,0.5);}
#info_list1{ height: 126px; background: url("../img/info_list1.png"); background-size: 100%; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;-webkit-border-bottom-left-radius: 3px;-webkit-border-bottom-right-radius: 3px;}
#info_list2{ height: 148px; background: url("../img/info_list2.png"); background-size: 100%; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;-webkit-border-bottom-left-radius: 3px;-webkit-border-bottom-right-radius: 3px;}
#tiaokuam_bg{ width: 490px; height:64px; line-height: 64px; background: url("../img/tiaokuan_bg.png"); background-size: 100% 100%; margin: auto; margin-bottom: 5px; box-shadow: 3px 3px 3px rgba(0,0,0,0.5); position: relative; color: #fff;  text-indent: 72px; font-size: 30px; letter-spacing: -1px; word-spacing: -1px; margin-top: 25px; }
#tiaokuam_bg .btn{ width: 33px; height: 33px; position: absolute;left: 26px; top: 16px;}
#tiaokuam_bg .btn1{ background: url("../img/sc_1.png");}
#tiaokuam_bg .btn2{ background: url("../img/sc_2.png");}
#infobox #text{ width: 100%; text-align: center; color: rgba(255,255,255,0.35); margin:20px auto ; }
#infobox #text span{ display: inline-block; border-bottom: 1px solid rgba(255,255,255,0.35);font-size: 26px; line-height: 45px;}
#Pay_infotxt{ width: 490px; box-sizing: border-box; padding: 20px;  margin: auto; color: #fff; background: #18191a; border: 3px solid #313131;  border-top: none; box-shadow: 0px -3px 3px rgba(255,255,255,0.35); font-size: 20px; text-align: justify; text-justify: inter-word; display: none}
#Pay_infotxt p{ padding-bottom: 20px;}
#move{ overflow: auto; zoom: 1; height: auto; min-height: 100%;  -webkit-overflow-scrolling : touch;}

/*��������*/
#Termsbox{   height: 84%; width: 100%; position: absolute; overflow: auto; background: #000; -webkit-overflow-scrolling : touch; top: 16%;}
#Termsbox #move{ overflow: auto; zoom: 1; height: auto; min-height: 100%;  background:url("../img/Terms_bg.jpg") center top no-repeat;}
#Termsbox #txtlist{ width: 100%; overflow: auto; zoom: 1; height:100%;}
#Termsbox #txtlist h2{   color: #fff; font-size: 30px; margin: auto; margin-top: 20px; height: 65px; line-height: 65px; box-sizing: border-box; width: 490px; font-weight: normal; text-align:  center}
#Termstit1{margin-top:0px;}
.Termstit{ background: url("../img/Terms_titbg2.jpg"); background-size: 100% 100%; width: 490px; height: 62px; margin: auto;margin-top: 35px; box-shadow: 0 -2px rgba(0,0,0,0.35); text-indent: 23px; line-height: 62px; font-size: 26px; color: #fff; word-spacing: -1px; letter-spacing: -1px; position: relative}
.Termstit1{}
.Termstit2{ }
.Termstit .btn{ width: 32px; height: 32px; position: absolute; right: 25px; top: 16px;}
.Termstit1 .btn{background: url("../img/Terms_tit_bottom.png"); background-size: 100% 100%}
.Termstit2 .btn{background: url("../img/Terms_tit_top.png"); background-size: 100% 100%}
#Termsbox .textbox{ box-sizing: border-box; width: 490px; border: 3px solid #2e2e2e; padding: 23px; color: #fff; font-size: 22px; line-height: 32px; margin: auto; margin-bottom: 25px; display: none;}
#Termsbox .textbox ul{ margin-left: 2em;}
#Termsbox .textbox ol{list-style-position:outside;}
#Termsbox .textbox li{ text-decoration: underline; padding-bottom: 10px;}
#Termsboxicptxt{  box-sizing: border-box; width: 100%; height: 94px; padding-left: 75px; padding-top: 55px; padding-bottom: 170px;     color: #fff; font-size: 16px;}

/*����*/
#zhinengbox{   height: 84%; width: 100%; position: absolute; overflow: hidden;  background: #1d1d1e url("../img/zhinengbg.jpg") center top no-repeat; top: 16%;}
#zhinengpage{ position:absolute; top: 138px; width: 100%; bottom: 0px;  overflow: auto ; -webkit-overflow-scrolling : touch;}
#zhinengbtnbox{ width: 100%; height: 135px; position: relative}
#zhinengbtnbox2{ width: 100%; height: 135px; position: relative}
#zhinengbox #move{ display: none; overflow: auto; zoom: 1; height: auto; min-height: 100%; position: relative}
#zhinengbox #move1{ display: none; overflow: auto; zoom: 1; height: auto; min-height: 100%; position: relative}
#zhinengbox #move0{ overflow: auto; zoom: 1; height: auto; min-height: 100%; position: relative; -webkit-overflow-scrolling : touch;}
#zhinengbtnbox .btn{ height: 66px; line-height: 66px; color: #fff; text-align: center; background: #707070; position: absolute; left: 50%; top: 30px; font-size: 26px;}
#zhinengbtnbox .btn1{ width: 292px; margin-left: -300px;}
#zhinengbtnbox .btn2{ width: 299px; margin-left:7px; }
#zhinengbtnbox .btn3{ display: none; }
#zhinengbtnbox2 .btn{ height: 66px; line-height: 66px; color: #fff; text-align: center; background: #707070; position: absolute; left: 50%; top: 30px; font-size: 26px;}
#zhinengbtnbox2 .sbtn1{ width: 196px; margin-left: -309px;}
#zhinengbtnbox2 .sbtn2{ width: 195px; margin-left:110px; overflow: hidden ; line-height: 30px;}
#zhinengbtnbox2 .sbtn3{ width: 195px; margin-left:-100px;  }
.zhinengbtnbox1{ background: url("../img/zhinengbtnbg1.png") center 106px no-repeat;}
.zhinengbtnbox2{ background: url("../img/zhinengbtnbg2.png") center 106px no-repeat;}
.zhinengbtnbox3{ background: url("../img/zhinengbtnbg3.png") center 106px no-repeat;}
#zhinengbox .zhinengbtnbox1 .btn1{  background: url('../img/zhinengbtnboxbtn1.jpg');}
#zhinengbox .zhinengbtnbox2 .btn2{  background: url('../img/zhinengbtnboxbtn2.jpg');}
#zhinengbox .zhinengbtnbox1 .sbtn1{  background: url('../img/zhinengbtnboxbtn_s1.jpg');}
#zhinengbox .zhinengbtnbox2 .sbtn2{  background: url('../img/zhinengbtnboxbtn_s2.jpg');}
#zhinengbox .zhinengbtnbox3 .sbtn3{  background: url('../img/zhinengbtnboxbtn_s3.jpg');}
#zhinengpage .txtlist{ width: 100%; overflow: auto; zoom: 1; height:100%; color: #fff; display: none; -webkit-overflow-scrolling : touch;}
#zhinengpage #txtlist1{ display: block;}
#zhinengpage .txtlist1{ width: 100%; overflow: auto; zoom: 1; height:100%; color: #fff; display: none; -webkit-overflow-scrolling : touch;}
#zhinengpage .txtlist1 #txtlist1_1{ display:block}
.zhinengicptxt{  box-sizing: border-box; width: 100%; height: 94px; padding-left: 75px; padding-top: 55px; padding-bottom: 170px; color: #fff; font-size: 16px;}
.wifilistbg{ width: 598px; height: 166px; background: url("../img/wifilistbg.png"); position: relative; margin: auto; margin-bottom: 45px;  color: #fff;}
.wifilistbg h2{ font-weight: normal; padding-top: 25px; color: #fff; font-size: 30px; text-align: center}
.wifilistbg .jg{ position: absolute; font-size: 29px; line-height: 35px; left: 28px; bottom: 33px;}
.wifilistbtnbg{ width: 201px; height: 39px; line-height: 39px; text-align: center; font-size: 20px; line-height: 38px; position: absolute; right: 11px; bottom: 25px; background: url("../img/wifilistbtnbf.png")}
.sixbtn{ width: 100%;  overflow: auto; height: auto; zoom: 1;}
.sixbtn>div{ width: 187px; height: 52px; background: url("../img/sixbtn2.png");    line-height: 55px; color: #fff; text-align: center; font-size: 24px; margin-left: 17px; margin-top: 12px; float: left; border: 2px solid #b6b9b8;}

.sixbtn>div.ac{ background: url("../img/sixbtn1.png")}
#sixbox{  bottom: 0px; width: 100%; position: relative;  }
#sixlisttxt{  overflow: auto; zoom: 1; height: auto; min-height: 100%;}
.sixlist{display: none; color: #fff;}
#list1{ display: block;}
.sixlistbg{ width: 602px; height: 232px; margin: auto; margin-bottom: 25px; background: url("../img/sixlistbg.png"); position: relative; color: #fff;}
.sixlistbg h2{ text-align: center; font-size: 31px; padding-top: 30px; font-weight: normal; }
.sixlistbg ul{ font-size: 20px; position: absolute; left: 56px; bottom: 0px;}
.sixlistbg ul li{ padding-bottom: 15px;}
.sixlistbg ul li:nth-child(3){ font-size: 16px;}
.sixlistbg .btn{ width: 151px; height: 39px; position: absolute; line-height: 38px; text-align: center; background: url("../img/sixlistbgbtn.jpg"); right: 60px; bottom: 55px;}
.sixlistbg .num{ width: 170px; position: absolute; background: url("../img/rightjt.png") center no-repeat; top: 90px; right: 50px;}
.sixlistbg .num div:nth-child(1){ float: left; width: 74px; text-align: center; text-decoration: line-through; font-size: 22px; line-height: 36px;}
.sixlistbg .num div:nth-child(2){ float: right; width: 72px; text-align: center;    font-size: 30px; line-height: 36px;}
.sixlistbg .leftjt{ width: 72px; height: 33px; background: url("../img/leftjt.png"); position: absolute; right: 5px; top:10px; line-height: 33px; font-size: 26px; overflow: hidden; text-indent: 21px;}
.sixlistbg .zs{ position: absolute; right: 10px; top: 45px; font-size: 16px;}
.dabluebtn{ width: 590px; height: 84px; background: url("../img/long_dabluebtn.png");background-size: 100% 100%; margin-top: 15px; margin: auto; font-size: 21px; box-sizing: border-box; padding: 12px 15px; color: #fff; position: relative;  }
.dabluebtn span{ font-size: 26px;}
.dabluebtn .btn{ position: absolute;  width: 32px; height: 32px; right: 17px; top: 20px;}
.dabluebtn .btn2{ background: url("../img/Terms_tit_top.png");}
.dabluebtn .btn1{ background: url("../img/Terms_tit_bottom.png");}
.dabluebtntxt{ width: 590px; box-sizing: border-box; padding: 10px 7px; border: 3px solid #2a2a2b; border-top: none; padding-bottom: 20px; background: #141414; margin: auto; color: #fff; display: none}
.dabluebtntxt p{ margin: 10px 0; font-size: 18px; line-height: 20px;}

.dabluebtntxt  td{border:solid #fff; border-width:0px 1px 1px 0px; text-align: center; vertical-align: middle}
.dabluebtntxt  table{border:solid #fff; border-width:1px 0px 0px 1px; width: 100%; box-sizing: border-box}
.dabluebtntxt  td.tab_L{ width: 239px; padding-left: 15px; box-sizing: border-box}
.dabluebtntxt  td.tab_m{ width: 163px;}
.dabluebtntxt  td.f17{ font-size: 15px;}
.dabluebtntxt  td.f15{ font-size: 14px;}
.dabluebtntxt  td.f19{ font-size: 17px;}
.dabluebtntxt  tr{ height: 60px;}
.bot30{padding-bottom: 30px;}
.tab_bgcolor{ background: #1d1d1e;}
#zhinengnav{ width: 100%; height: auto; overflow: auto; zoom: 1;  -webkit-overflow-scrolling : touch;}
.zhinengfoot{ background: url("../img/zhinengfoot.png") center top no-repeat; color: #fff; width: 600px; height: 120px; margin:35px auto; margin-top: 60px; text-align: center; box-sizing: border-box; padding-top: 25px; font-size: 15px; line-height: 20px;}
