html,body{ width: 100%; height: 100%;}
html,body,p,ul,h1,h2,h3,h4{ margin: 0; padding: 0; list-style: none;}
/*.page{width: 100%;height:100%}*/
.ui-content{width:100%;height:100%;}
#logo{ position: absolute; left: 50%; top: 50%; margin-left: -121px; margin-top: -27px;}
.long_btn{ width: 490px; height: 60px; line-height: 60px; text-align: center; background: #116ab7; font-size: 26px; color: #fff; margin: auto; }
.empty{ width: 100%; height: auto; overflow: hidden;}
.alert{ width:490px; height: 344px; position: absolute; left: 50%; top: 50%; margin-left: -245px; margin-top: -172px; background: url("../../../images/img/tc_bg.png") ; background-size: 100% 100%; z-index: 51;}
.alert2{ width:490px; height: 306px; position: absolute; left: 50%; top: 50%; margin-left: -245px; margin-top: -153px; background: url("../../../images/img/tc_bg3.png") ; background-size: 100% 100%; z-index:100;}
#filer{ width: 100%; height: 100%; position: absolute; top:0;left:0;z-index: 50; background: rgba(0,0,0,0.9);  }


/*����*/
#Unbound .a_txt{ box-sizing: border-box; padding: 0 60px; padding-top: 67px; font-size: 26px; line-height: 36px; color: #fff; text-align: center; padding-bottom: 40px;   }
#juli{ background: url("../../../images/img/tc_bg2.png"); background-size: 100% 100%;}
#juli .a_txt{ box-sizing: border-box; padding: 0 60px; padding-top: 67px; font-size: 26px; line-height: 36px; color: #fff; text-align: center; padding-bottom: 40px;   }
.s_btn{ width: 200px; height: 60px; line-height: 60px; text-align: center; background-color: #116ab7; font-size: 26px; color: #fff; margin: auto; }
#Unueer .s_btn {margin:0;padding:0;height:60px;line-height:60px;background-color: #116ab7;font-size: 26px;text-align: center;cursor: pointer;}
.m_btn{ width: 348px; height: 60px; line-height: 60px; text-align: center; background: #116ab7; font-size: 26px; color: #fff; margin: auto; }
#Unbound .s_btn1{ position: absolute; left: 37px; bottom: 64px;}
#Unbound .s_btn2{ position: absolute; left: 250px; bottom: 64px;}
#Unbound_acc .a_txt{ box-sizing: border-box; padding: 0 60px; padding-top: 80px; font-size: 26px; line-height: 36px; color: #fff; text-align: center; padding-bottom: 60px;   }
#zbound_acc .a_txt{ box-sizing: border-box; padding: 0 60px; padding-top: 80px; font-size: 26px; line-height: 36px; color: #fff; text-align: center; padding-bottom: 60px;   }
#Unflash_acc .a_txt{ box-sizing: border-box; padding: 0 60px; padding-top: 80px; font-size: 26px; line-height: 36px; color: #fff; text-align: center; padding-bottom: 60px;   }
#Unueer{display: none}
#Unueer .s_btn input{width:100%;}
#Unueer .a_txt{ box-sizing: border-box; padding: 0 60px; padding-top: 70px; font-size: 29px; line-height: 36px; color: #fff; text-align: center; padding-bottom: 60px;   }
#Unueer .s_btn1{ position: absolute; left: 37px; bottom: 64px;}
#Unueer .s_btn2{ position: absolute; left: 250px; bottom: 64px;}
#Validationfailed .a_txt{ box-sizing: border-box; padding: 0 15px; padding-top: 75px; font-size: 23px; line-height: 36px; color: #fff; text-align: center; padding-bottom: 30px;  }
#Validationfailed .s_btn1{ position: absolute; left: 37px; bottom: 64px;}
#Validationfailed .s_btn2{ position: absolute; left: 250px; bottom: 64px;}
#Validationfailed .span1{ font-size: 26px;}
#Validationfailed .span2{ text-decoration: underline;}
#rexian .a_txt{ box-sizing: border-box; padding: 0 25px; padding-top: 75px; font-size: 23px; line-height: 36px; color: #fff; text-align: center; padding-bottom: 30px;  }
#rexian .s_btn1{ position: absolute; left: 37px; bottom: 50px;}
#rexian .s_btn2{ position: absolute; left: 250px; bottom:50px;}
#rexian .span1{ font-size: 26px;}
#rexian .span2{ text-decoration: underline;}
#sn_err .a_txt{box-sizing: border-box;padding: 0px 15px;padding-top: 75px;font-size: 23px;line-height: 36px;color: #fff;text-align: center;padding-bottom: 30px; }
#sn_err .span2{ text-decoration: underline;}
#sn_err .m_btn .ui-btn{margin:0;padding:0;height:60px;line-height:60px;background-color: #116ab7;font-size: 26px;text-align: center;cursor: pointer;overflow: hidden;
    white-space: nowrap;position: relative;}
#sn_err .csinput{background:none;width:100%;font-size: 26px;height:60px;line-height: 60px;margin:0;padding:0;text-align:center; border: none;  color: #fff;}
#user_err .a_txt{ box-sizing: border-box; padding: 0 25px; padding-top: 45px; font-size: 29px; line-height: 37px; color: #fff; text-align: center; padding-bottom: 30px;  }
#user_err .span2{ text-decoration: underline;}
#nouser .a_txt{ box-sizing: border-box; padding: 0 25px; padding-top: 55px; font-size: 23px; line-height: 36px; color: #fff; text-align: center; padding-bottom: 30px;  }
#nouser .span2{ text-decoration: underline;}
#fuwuxuding .a_txt{ box-sizing: border-box; padding: 0 25px; padding-top: 25px; font-size: 18px; line-height: 32px; color: #fff; text-align: center; padding-bottom: 20px;  }
#linetop{ position: absolute; top: 0; z-index: 30}
#lineto2{ position: absolute; top: 0; z-index: 30}
#linebot{ position: absolute; bottom: 0; z-index: 30}



/*index  */
#fri_top{ width: 100%; height: 16%; position: relative; background: url("../../../images/img/fri_top.jpg"); background-size: 100% 100%;}
/*
#fri_top #tp{height:100%;background: url("../../../images/img/logo.png") center no-repeat;}
*/
#fri_bottom{ width: 100%; height: 27%; position: relative; background: url("../../../images/img/fri_bottom.jpg"); background-size: 100% 100%;}
#fri_bottom .empty input{width: 490px;height: 60px;margin-top: 60px;margin-left: 12%;line-height: 60px;text-align: center;background: #116ab7;font-size: 26px;color: #fff;border: none;outline: none;-webkit-appearance:none;}
#fri_mod{ width: 100%; height:57%; position: relative; background: url("../../../images/img/fri_m.jpg"); background-size: 100% 100%; }
#long_btn1{ margin-top:60px;}
#icp{ position: absolute; left: 75px; bottom: 60px; color: #fff; font-size: 15px;}
#fri_my{ position: absolute; left: 50%; margin-left:-73px;top: 53px; }
#fri_mod ul{ list-style: none; margin: 0; padding: 0; position: absolute; left: 75px; top: 190px; color: #fff; font-size: 26px;}
#fri_mod input{ width: 495px; height:68px; border:none; background: url("../../../images/img/input_bg.png") ;background-size: 100% 100%;  box-sizing: border-box; padding: 5px; outline: none; line-height: 50px; color: #fff; font-size: 26px; text-align: center }
#fri_mod .ui-focus{box-shadow: none;border: none}
#fri_mod .ui-input-text{padding: 0;margin: 0;font-size: 26px;border: none;background-color: inherit;}
/*#fri_mod  #line1{height:1%;background: url("../../../images/img/fri_line.jpg") center no-repeat;}
#fri_mod  #line2{height:197%;background: url("../../../images/img/fri_line.jpg") center no-repeat;}
#fri_mod  #pmy{height:107px;background: url("../../../images/img/fri_my.png") center no-repeat;position: absolute;left: 50%;margin-left: -73px;top: 53px;width: 146px;}*/
.pt_10{ padding-top: 10px; font-size: 30px;}
#tellme{ font-size: 18px;}
#tellme span{ text-decoration: underline}

/*��*/
#keybot{ height: 84%; background: url("../../../images/img/jp_bg.jpg"); background-size: 100% 100%; position: relative}
#keybox{ width: 100%; background: url("../../../images/img/jp_bg2.jpg"); background-size: 100% 100%; position: absolute; bottom: 0; height: 62% }
#censel{ width: 100%;  height:64px; background: url("../../../images/img/keybg.png") repeat-x;}
#censel span{ display: block; float: right; color: #fff; font-size: 26px; line-height: 44px;   margin-right: 70px; padding:10px;}
#keybox ul{ width: 100%; }
.numbtn{background: url("../../../images/img/keybg.png") repeat-x; float: left; color: #fff; text-align: center; font-size: 32px; position: relative }
.numbtn213{ width: 213px; }
.numbtn208{ width: 208px;}
.r3{ margin-right: 3px;}
.bot3{margin-bottom:3px; }
.h92{ height: 92px; line-height: 90px;}
.h91{ height: 91px; line-height: 90px;}
.h90{ height: 90px; line-height: 90px;}
.over{ width: 118px; height: 48px; position: absolute; left: 49px; top: 22px; background:rgba(255,255,255,0.2); border-radius: 5px; text-align: center; font-size: 26px; line-height: 48px; }
#backspace{ position: absolute; left: 74px; top: 28px;}
#keyboxtxt h1{ padding: 0; margin: 0; color: #fff; font-size: 26px; text-align: center ; padding-top: 30px; font-style: normal}
#keyboxtxt p{ padding: 10px 50px; display: inline-block; box-sizing: border-box; height: 115px; color: #fff; font-size: 17px; line-height: 26px; width: 100%;}
#keytc{ width: 450px; box-sizing: border-box; height: 70px;line-height: 70px; color: #000; font-size: 45px; margin: auto; background: #fff; border-radius: 5px; text-align: center; overflow: hidden}
#icptxt{ position: absolute; box-sizing: border-box; width: 100%; height: 94px; padding-left: 75px; padding-top: 10px; border-top: 3px solid #505050; box-shadow:  8px 8px 5px #000; bottom: 0px; color: #fff; font-size: 16px;}
.help{ width: 118px; height: 48px; position: absolute; left: 49px; top:9px; background:rgba(255,255,255,0.2); border-radius: 5px; text-align: center; font-size: 26px; line-height: 48px; color: #fff }
#fc_bg{ width: 490px; height: 606px; background: url("../../../images/img/f_c_bg.png"); background-size: 100% 100%; position: absolute; left: 50%; top: 50%; margin-left: -245px; margin-top: -303px; z-index: 52;}
#findtxt1{ width: 100%; position: absolute; top: 215px; font-size: 29px; color: #fff; text-align: center}
#findtxt2{ width: 100%; position: absolute; top:430px; font-size: 29px; color: #fff; text-align: center}
#findtxt3{ width: 100%; position: absolute; top:475px; font-size: 24px; color: #848484; text-align: center}
.load_bg{ width: 44px; height: 44px; background: url("../../../images/img/load_bg.png");animation: loadbg 2s linear infinite; -webkit-animation: loadbg 2s linear infinite;  }
.load_bg{ width: 44px; height: 44px; background: url("../../../images/img/load_bg.png");animation: loadbg 2s linear infinite; -webkit-animation: loadbg 2s linear infinite;}
#jiesuoload{ position: absolute; z-index: 53; width: 100%; height: 100%; top: 0; background: none; margin: 0; left: 0;}
#jiesuoload img{ position: absolute; left: 50%; margin-left: -109px; top: 50%; margin-top: -154px;}
#jiesuoload #load_bg2{ top: 50%; margin-top: 80px; left: 50%; margin-left: -22px; position: absolute}
#suozhiload{ position: absolute; z-index: 53; width: 100%; height: 100%; top: 0; background: none; margin: 0; left: 0;}
#suozhiload img{ position: absolute; left: 50%; margin-left: -109px; top: 50%; margin-top: -154px;}
#suozhiload #load_bg3{ top: 50%; margin-top: 80px; left: 50%; margin-left: -22px; position: absolute}
#vdload{ position: absolute; z-index: 53; width: 100%; height: 100%; top: 0; background: none; margin: 0; left: 0;}
#vdload img{ position: absolute; left: 50%; margin-left: -136px; top: 50%; margin-top: -142px;}
#vdload #load_bg4{ top: 50%; margin-top: 80px; left: 50%; margin-left: -22px; position: absolute}
#load_bg1{ position: absolute; left: 50%; margin-left: -22px; top:310px }
.slogin{ width: 100%; position: absolute; z-index: 60; top: 20%; color: #fff; text-align: center; font-size: 26px;}
@keyframes loadbg {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
@-webkit-keyframes loadbg {
    0%{-webkit-transform: rotate(0deg);}
    100%{-webkit-transform: rotate(360deg);}
}


/*Կ��*/
#key_{  height: 84%; background: url("../../../images/img/jp_bg3.jpg"); background-size: 100% 100%; position: relative; overflow: hidden;}
#key_bg{ width: 347px; height: 674px; position: absolute; left: 50%; margin-left: -175px; top: 50%; margin-top:-365px; background: url("../../../images/img/key.png"); transform: scale(0.8) }
#keytxt{ position:absolute; left:75px; bottom: 6rem; color: #fff; font-size:1.1rem;}
#keytxt span{ font-size:1.5rem;}
#top{ width: 97px; height: 83px; position: absolute; left: 128px; top: 23px; }
#topn{ width: 97px; height: 83px;  background: url("../../../images/img/top_bg1.png") ;  }
#toplb{ position: absolute; left: 32px; top: 33px;}
#sdmd{ position: absolute; left: 142px; top: 116px;}
#mid{ width: 173px; height: 109px; position: absolute; left: 88px; top: 169px; }
#midn{width: 173px; height: 109px;  background: url("../../../images/img/mid_bg1.png") ;  }
#mid_suo{ position: absolute; left: 52px; top: 11px;}
#left{ width: 107px; height: 128px; position: absolute; left: 63px; top: 429px; }
#leftn{width: 107px; height: 128px;  background: url("../../../images/img/left_bg1.png") ;  }
#left_suo{ position: absolute; left: 19px; top: 13px;}

#right{ width: 107px; height: 128px; position: absolute; left: 183px; top: 429px; }
#rightn{width: 107px; height: 128px;  background: url("../../../images/img/right_bg1.png") ;  }
#right_dr{ position: absolute; left: 19px; top: 13px;}


/*�ҵ��˻�*/
#mybox{width: 100%; height:84%;position: relative; overflow: hidden; background: #000}
.swiper-container {width: 100%;height:100%;}
.swiper-slide {font-size: 18px;-webkit-box-sizing: border-box;box-sizing: border-box;min-height: 100%;}
#txtlist{ width: 100%; background:#000 url("../../../images/img/mybg.jpg") center top no-repeat; height: auto; overflow: auto; min-height: 100%;}
#txtlist>div{ width: 100%; height: auto; overflow: auto;background:  url("../../../images/img/mybg2.jpg") center bottom  no-repeat; }
#txtlist h3{ text-align: center; color: #fff; font-style: normal; font-size: 30px; margin-top: 50px; height: 65px; background: url("../../../images/img/my_h3bg.png") center bottom no-repeat; line-height: 65px;}
.my_list{ width: 520px; height: auto; overflow: auto; zoom: 1; background: url("../../../images/img/my_listbg.png") repeat-x; border: 2px solid rgba(255,255,255,0.45);border-top: none; margin: auto; color: #fff; font-size: 22px; line-height: 28px; margin-bottom: 20px; box-sizing: border-box; padding: 15px 0; padding-left: 100px;}
.my_list_notice{ width: 520px; height: auto; overflow: auto; zoom: 1; border: 0px solid rgba(255,255,255,0.45);border-top: none; margin: auto; color: #f52447; font-size: 22px; line-height: 28px; margin-bottom: 20px; box-sizing: border-box; padding: 15px 0; padding-left: 100px;}
#food{ width: 100%; position: relative; margin-top: -30px; height: 282px;}
#food .s_btn{ position: absolute; left: 50%; top: 70px; width: 237px;}
#food .s_btn input{outline: none}
#food .s_btn1{margin-left: -245px;}
#food .s_btn2{margin-left:8px;}
#icpoutuser{ position: absolute; right: 75px; bottom: 100px; color: #fff;height: 27px }
#icpoutuser input{background: none;height: 27px ;border-bottom: 1px solid #fff; color: #fff;  font-size: 20px;  border: none;}
#icpoutuser .ui-input-btn{background: none;border: none;font-size: 20px; height: 28px;line-height: 28px}
#icpoutuser .ui-focus{box-shadow: none;border: none}



