<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link rel="stylesheet"
      href="#{facesContext.externalContext.request.contextPath}/resources/css/themes/hti5/seccss.css" />
<link rel="stylesheet" href="#{facesContext.externalContext.request.contextPath}/resources/css/themes/hti5/swiper.css" />

<div class="page">
    <div id="fri_top">
        <img src="#{facesContext.externalContext.request.contextPath}/resources/images/img2/logo.png" id="logo"/>
    </div>
    <div id="infobox">
        <img src="#{facesContext.externalContext.request.contextPath}/resources/images/img2/fri_line.jpg" id="linetop"/>
        <div id="move"></div>
    </div>
</div>
</body>
</html>